<section class="detailWrapper">
    <a class="tomain" href='/'>메인으로</a>
    <div class="title">
        <div>글 상세</div>
        <div>
            <div class="button"><a href="/post/write/<%=@post.id%>">수정하기</a></div>
            <div class="button"><a href="/post/delete/<%=@post.id%>">삭제하기</a></div>
        </div>
    </div>
    <div class="contentWrapper">
        <div class="title"><%=@post.title%></div>
        <div class="info">
            <div><%=@post.creator%></div>
            <div><%=@post.created_at.strftime("%Y-%m-%d %H:%M ")%></div>
        </div>
        <div class="content"><%=@post.content%></div>
    </div>
    <div class="commentWrapper">
        <div class="comment">
            <form action="/post/comment/<%=@post.id%>" method="post">
                <input placeholder="작성자" name="creator" required></textarea>
                <textarea placeholder="댓글" name="content" required></textarea>
                <input type="submit" value="댓글 작성"/>
            </form>
        </div>
        <ul>
            <li>댓글1</li>
            <li>댓글2</li>
            <li>댓글3</li>
            <li>댓글4</li>
            <li>댓글5</li>
        </ul>
    </div>
</section>